
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuardarDatos</title>
</head>
<body>
    <div>
        <h2>Gracias por su Comentario</h2>
        <a href="/Index/Index">Regresar Al inicio</a>
    </div>
</body>
</html>
