
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Sistema Visitante</h1>
    <div> 
        <a href="/Web/Formulario">Creacion de Formulario Visitante</a><br /><br />
        <a href="/Web/ListarVisitantes">Listar Visitantes</a>
    </div>
</body>
</html>
